FROM {{ base_image }}

{% for item in volumes %}
VOLUME {{ item }}
{% endfor %}

{% for item in environment %}
ENV {{ item }} 
{% endfor %}

#EXPOSE
{% for item in expose %}
EXPOSE {{ item }} 
{% endfor %}

#ADD
{% for item in add %}
ADD {{ item }} 
{% endfor %}


{% for item in run %}
#RUN
RUN {{ item }} 
{% endfor %}


{% if provisioner %}
# ansible provisioning
WORKDIR /opt/ansible/build
ADD provision.yml /opt/ansible/build/
ADD roles /opt/ansible/build/
ADD tasks /opt/ansible/build/
RUN ansible-playbook provision.yml -c local
{% endif %}


{% if entrypoint %}
ENTRYPOINT {{ entrypoint }} 
{% endif %}


# CMD
{% if command %}
CMD {{ command }}
{% endif %}