#FROM progrium/busybox
FROM {{ base_image }}


#VOLUME ["/sounds/en"]
{% for item in volumes -%}
VOLUME {{ item }}
{%- endfor %}


#ENV SND_VERSION 1.0.51
#ENV SND_NAME en-us-callie
{% for item in environment -%}
ENV {{ item }}
{%- endfor %}

#EXPOSE
{% for item in expose -%}
EXPOSE {{ item }}
{%- endfor %}


# ansible provisioning
WORKDIR /opt/ansible/{{ project }}
ADD provision.yml /opt/ansible/{{ project }}/
ADD roles /opt/ansible/{{ project }}/
RUN ansible-playbook provision.yml -c local


# ENTRYPOINT
#ENTRYPOINT ["true"]
{% if entrypoint %}
ENTRYPOINT {{ entrypoint }}
{% endif %}


# CMD
{% if command %}
CMD {{ command }}
{% endif %}



